---
import IndexLayout from "../layouts/indexLayout.astro";

---
<IndexLayout>
    <div class="min-h-screen font-bold" id="about">
        <h1 class="text-6xl font-extrabold text-center">Privacy policy</h1>
        <div class="container mx-auto m-10">
            <div class="container mx-auto m-10 text-justify">
                <p class="m-5">Privacy Policy of IberiaEye.<br> Effective date: {new Date().toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' })}</p>
                <p class="m-5"><span class="text-2xl bold">Introduction:</span> <br>Welcome to IberiaEye, your essential road assistant for the roads of Spain. We are committed to protecting your privacy and handling your data transparently and responsibly. This Privacy Policy details how we treat your information and what rights you have in this regard.</p>
                <p class="m-5"><span class="text-2xl bold">Data we collect:</span> <br>IberiaEye does not collect any personal data from its users. The application only requires internet permissions for optimal operation.</p>
                <p class="m-5"><span class="text-2xl bold">Use of information:</span> <br>Although we do not collect personal data, we use Firebase to analyze the performance of the application and continuously improve its functionality and user experience. These analyses are based on anonymous and aggregated data and cannot be used to identify individual users.</p>
                <p class="m-5"><span class="text-2xl bold">Data sharing:</span> <br>We do not share, sell, or disclose your personal information to third parties, as we do not collect such information.</p>
                <p class="m-5"><span class="text-2xl bold">Data security:</span> <br>Although we do not collect personal data, we prioritize security and take appropriate measures to protect the integrity and security of any information within the application.</p>
                <p class="m-5"><span class="text-2xl bold">User rights:</span> <br>Since we do not collect personal data, you don't need to worry about your rights to access, rectification, deletion, etc. However, we value your feedback and questions about the application and its operation. You can contact us at any time through contact@marcoscuesta.com.</p>
                <p class="m-5">Changes to the Privacy Policy: We may occasionally update this Privacy Policy to reflect changes in our application or for other operational, legal, or regulatory reasons. If we make changes, we will notify you through an application update or other appropriate means.</p>
                <p class="m-5"><span class="text-2xl bold">Contact:</span> <br>If you have questions or concerns about this Privacy Policy, please do not hesitate to contact us at contact@marcoscuesta.com.</p>
                <p class="m-5">Thank you for trusting IberiaEye and allowing us to be your eyes on the road.</p>               
            </div>
        </div>
    </div>                
</IndexLayout>

