---
import * as content from '../pages/content.js';
const data = [
    {
        title: "Socials",
        array: content.contact
    }
];
---
<div class="min-h-screen" id="about">
    <h1 class="text-5xl font-bold text-center">About Me!</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 justify-center mt-14">
        <img src="/profile.jpg" alt="profile" class="mx-auto w-1/2 rounded-full shadow-lg">
        <div class="px-8 md:px-16 text-justify">
            <h1 class="text-2xl mb-2">{ content.name } a {content.designation} based in {content.location}</h1>
            <p>{content.about}</p>
            <div class="md:flex md:space-x-4">
                <button class="bg-gradient-to-r from-blue-500 via-purple-600 to-purple-500 
                hover:from-blue-700 hover:via-purple-600 hover:to-purple-700 
                 text-white font-bold py-2 w-full rounded mt-5">
                    <a href="/cv" class="bg-transparent">Take a look</a>
                </button>
                <button class="bg-gradient-to-r from-blue-500 via-purple-600 to-purple-500 
                hover:from-blue-700 hover:via-purple-600 hover:to-purple-700 
                 text-white font-bold py-2 w-full rounded mt-5">
                    <a href="/cv" class="bg-transparent">Download CV</a>
                </button>
            </div>
        </div>
    </div>
</div>