---
const currentYear = new Date().getFullYear();
---

<div class="flex flex-col items-center">
    <main class="flex-1"></main>
    <footer class="w-full py-6">
      <div class="container mx-auto flex flex-col md:flex-row justify-center items-center">
        <div class="text-center md:text-center mb-4 md:mb-0">
			<div class="group">
				<p>&copy; {currentYear} Marcos Cuesta</p>
			</div>
			<p class="socials">
				<a target="_blank" href="https://github.com/maarcoscuesta18"> GitHub</a>
				<a target="_blank" href="https://www.linkedin.com/in/marcos-cuesta-abanades/"> Linkedln</a>
			</p>
        </div>
        
      </div>
    </footer>
</div>

