<footer class="bg-background/5 flex justify-between items-center px-2 py-1">
    <p>© 2023 Marcos Cuesta</p>
</footer>

<style>
    p{
        @apply text-sm text-text/50;
    }

    a {
        @apply underline hover:text-text/80;
    }
</style>