---
import * as CONTENT from "../pages/content.js"
---
<div class="grid grid-cols-1 lg:grid-cols-2 items-center justify-center">
  <div class="flex min-h-screen items-center justify-center">
    <div class="w-max">
      <h1 class="text-5xl font-bold neonText">Hi!</h1>
      <div class="md:flex">
        <h1 class="text-5xl  font-bold md:pr-5">Im</h1>
        <h1 class="animate-typing overflow-hidden whitespace-nowrap border-r-4  pr-5 text-5xl font-bold text-[--accent-regular]">{CONTENT.name}</h1>
      </div>
      <h1 class="text-5xl  font-bold">a RPA Engineer</h1>
    </div>
  </div>
  <img src="/coding.png" alt="coding" class="object-cover mx-auto hidden md:block" />
</div>
