---
import * as CONTENT from "../pages/content.js"
---
<div class="flex min-h-screen items-center justify-center">
    <div class="w-max">
      <h1 class="animate-typing overflow-hidden whitespace-nowrap border-r-4  pr-5 text-5xl  font-bold">{CONTENT.name}</h1>
    </div>
</div>