<div id="language-selector" class="flex justify-center space-x-4 py-4">
    <a href="/" class="cursor-pointer" title="English">🇺🇸</span>
    <a href="/es" class="cursor-pointer" title="Español">🇪🇸</span>
</div>