---

---
<nav class='mb-10'>
    <div class='container flex flex-wrap items-center justify-between mx-auto'>
        <div class='w-full'>
            <ul class='flex justify-around text-lg p-4'>
                <li><a href='/' class='text-white hover:text-orange-400'>Home</a></li>
                <li><a href='#about' class='text-white hover:text-orange-400'>About</a></li>
                <li><a href='/cv' class='text-white hover:text-orange-400'>CV</a></li>
            </ul>
        </div>
    </div>
<nav>