---
import * as content from '../../pages/content.js';
import { getLangFromUrl, useTranslations,useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<div class="min-h-screen font-bold" id="about">
    <h1 class="text-6xl font-extrabold text-center">About Me</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center justify-center mt-14">
        <img src="/profile.webp" alt="profile" class="mx-auto w-1/2 rounded-full shadow-lg mb-5 grayscale-[50] hover:grayscale-0">
        <div class="px-8 md:px-16 text-justify">
            <h1 class="text-4xl mb-2">{ content.name }, {content.designation} based in {content.location}</h1>
            <p class="mt-5">{content.about}</p>
            <div class="md:flex md:space-x-4 mt-5">
                <button class="neonButton py-2 w-full rounded mt-5">
                    <a href={translatePath('/cv')} class="bg-transparent">Take a look</a>
                </button>
            </div>
        </div>
    </div>
</div>