---
import Container from "../../components/CV/ContainerCV.astro";
import Header from "../../components/CV/HeaderCV.astro";
import IndexLayout from "../../layouts/indexLayout.astro";
---
<IndexLayout
title="Marcos Cuesta: Pagina Web"
description="Pagina web personal de Marcos Cuesta"
languague="es">
	<Header />
	<article class="mx-auto h-fit max-w-3xl w-[95vw] flex flex-nowrap ">
		<div class="bg-red-700 w-full h-1.5" id="one"></div>
		<div class="bg-yellow-500 hover:scale-x-[2] w-full h-1.5" id="two"></div>
		<div class="bg-red-700  w-full h-1.5" id="three"></div>
	</article>
	<main class="mx-auto flex-grow max-h-[90vh] md:max-h-[70vh] max-w-3xl overflow-y-scroll grid gap-5 p-5 w-[95vw] stack">
		<Container currentRegion="es"/>
	</main>
</IndexLayout>