---
import MainHead from '../components/MainHead.astro';
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';
const {languague,title,description} = Astro.props;
---
<html lang={languague} class="min-h-full">
	<head >
		<MainHead title={title} description={description} />
	</head>
	<body class="backgrounds ">
		<Navigation lang={languague} />
		<slot/>
		<Footer />
<script>
	// Add “loaded” class once the document has completely loaded.
	addEventListener('load', () => document.documentElement.classList.add('loaded'));
</script>

<style>
	:root, :root[data-theme="light"] {
		--_placeholder-bg: linear-gradient(transparent, transparent);
		--bg-image-main: url('/assets/backgrounds/bg-subtle-1-light-1440w.jpg');
		--bg-image-main-curves: url('/assets/backgrounds/bg-main-light.svg');
		--bg-image-subtle-1: var(--_placeholder-bg);
		--bg-image-subtle-2: var(--_placeholder-bg);
		--bg-image-footer: var(--_placeholder-bg);
		--bg-svg-blend-mode: overlay;
		--bg-blend-mode: darken;
		--bg-image-aspect-ratio: 2.25;
		--bg-scale: 1.68;
		--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
		--bg-gradient-size: calc(var(--bg-scale) * 100%);
	}

	:root[data-theme="dark"] {
		--bg-image-main: url('/assets/backgrounds/bg-subtle-1-dark-1440w.jpg');
		--bg-image-main-curves: url('/assets/backgrounds/bg-main-dark.svg');
		--bg-svg-blend-mode: darken;
		--bg-blend-mode: lighten;
	}

	/* These backgrounds are displayed below the fold, so we lazy load them
	   once the `.loaded` class has been set.  */
	:root.loaded, :root.loaded[data-theme="light"] {
		--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-light-800w.jpg');
		--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-light-800w.jpg');
		--bg-image-footer: url('/assets/backgrounds/bg-footer-light-800w.jpg');
	}
	:root.loaded[data-theme="dark"] {
		--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-dark-800w.jpg');
		--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-dark-800w.jpg');
		--bg-image-footer: url('/assets/backgrounds/bg-footer-dark-800w.jpg');
	}

	@media (min-width: 50em) {
		:root, :root[data-theme="light"]{
			--bg-scale: 1;
			--bg-image-main: url('/assets/backgrounds/bg-subtle-1-light-1440w.jpg');
		}
		:root[data-theme="dark"] {
			--bg-image-main: url('/assets/backgrounds/bg-subtle-1-dark-1440w.jpg');
		}

		:root.loaded, :root.loaded[data-theme="light"] {
			--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-light-1440w.jpg');
			--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-light-1440w.jpg');
			--bg-image-footer: url('/assets/backgrounds/bg-footer-light-1440w.jpg');
		}
		:root.loaded[data-theme="dark"] {
			--bg-image-subtle-1: url('/assets/backgrounds/bg-subtle-1-dark-1440w.jpg');
			--bg-image-subtle-2: url('/assets/backgrounds/bg-subtle-2-dark-1440w.jpg');
			--bg-image-footer: url('/assets/backgrounds/bg-footer-dark-1440w.jpg');
		}
	}

</style>
</body>
</html>