---
import MainHead from '../components/MainHead.astro';
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';
const {title,description} = Astro.props;
---
<html lang="en" class="min-h-full">
	<head>
		<MainHead title={title} description={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
	</head>
	<body class="minimal-background">
		<Navigation />
		<slot/>
		<Footer />
<style>
	.minimal-background {
		background-color: #ffffff;
		min-height: 100vh;
	}
</style>
</body>
</html>